{% extends 'base.html' %}
{% load static %}
{% block title %}Uploads{% endblock %}
{% block content %}
<section>
    <h3 class="pt-2">Database Population</h3>

    {% include 'message_display.html' %}
    <form class="pt-5" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="model"><b>Database Table:</b></label>
            <select name="model" class="form-control" required="required">
                <option disabled selected value>--select table -- </option>
                {% for model in models %}
                <option value="{{model}}">{{model}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="data_file"><b>Select File:</b></label>
            <input type="file" class="form-control" name="data_file" required="required" accept=".csv">
        </div>
        <button type="submit" class="btn btn-success mt-3">Populate</button>
    </form>

    <div class="mt-5">
        <a href="{% url 'upload_format' %}">Sample Data Files</a>
    </div>
</section>
{% endblock %}